<?xml version="1.0"?>
<config>
    <modules>
        <Lindbaum_BackendPayment>
            <version>0.1.0</version>
        </Lindbaum_BackendPayment>
    </modules>
    <global>
    	<blocks>
	        <backendpayment>
	            <class>Lindbaum_BackendPayment_Block</class>
	        </backendpayment>
	    </blocks>
        <models>
            <backendpayment>
                <class>Lindbaum_BackendPayment_Model</class>
            </backendpayment>
        </models>
		<helpers>
            <backendpayment>
                <class>Lindbaum_BackendPayment_Helper</class>
            </backendpayment>
        </helpers>
    	<resources>
           <backendpayment_setup>
                <setup>
                    <module>Lindbaum_BackendPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
           </backendpayment_setup>
           <backendpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </backendpayment_write>
            <backendpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </backendpayment_read>
        </resources>
    </global>
	<default>
        <payment>
            <backendpayment>
                <active>0</active>
                <model>backendpayment/backendPayment</model>
                <order_status>pending</order_status>
                <title>Payment as chosen</title>
            </backendpayment>
         </payment>
    </default>
</config>